{% extends 'base.html' %}
{% block body %}


		 {% if items %}

		  {% for key, value in items.iteritems() -%}	


		  	{% if value['thumbnail'] -%}
		  	<a href="{{ value['thumbnail'] }}" title="{{ value['title'] }}"><img style="margin-left:auto; margin-right: auto; margin-bottom: 6px; display: block" src="{{ value['thumbnail'] }}" height="200"></a>
		  	{%- endif %}

		  	{% if value['equivalents'] -%}

				<div id="containertable">
					
					<table class="table table-hover">
						<thead>
							<tr>
							<th>en</th><th>{{value['title']}}</th>
							</tr> 
						</thead>

					    {% for key, value in value['equivalents'].iteritems() %}

					<tbody>
						<tr>
							<td>{{ key }}</td>
							<td><a target="_blank" href="http://{{ key  }}.wikipedia.org/wiki/{{ value }}">{{ value }}</a></td>
						</tr>

					    {% endfor %}

						 <tr><td></td>
						 	<td> </td>
						 </tr>
					</tbody>

					</table>
				</div>



		  	{%- endif %}

		  {%- endfor %}


		{% else %}
		<p> Please enter a nicer string </p>


		{%- endif %}




{% endblock %}